.btn{
  border-color: cadetblue;
  cursor: pointer;
}

.company-style
{
  font-family: 'Pacifico', cursive;
  color: deepskyblue;
}
.i-size
{
  font-size: 20px;
}
.box
{
  box-shadow: 3px 3px 3px lightskyblue;
}
