<!--<app-main-nav></app-main-nav>-->
<!--<nav class="navbar navbar-expand bg-dark justify-content-center border-top sticky-top">-->
<!--    <ul class="navbar-nav">-->
<!--      <li class="nav-item">-->
<!--        <a  class="nav-link text-white hover-a" (click)="showhome()"> <i class="fas fa-home circle-icon" style="font-size:20px;color:black"></i>&nbsp;&nbsp;HOME</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link text-white hover-a" (click)="showglasses()"> <i class="fas fa-glasses circle-icon" style="font-size:20px;color:black"></i>&nbsp;&nbsp;GLASSES</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link text-white hover-a " (click)="showbooks()"> <i class="fa fa-book circle-icon" style="font-size:20px;color:black"></i>&nbsp;&nbsp;BOOKS</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link text-white hover-a" (click)="showclothes()"><i class="fas fa-tshirt circle-icon" style="font-size:20px;color:black"></i>&nbsp;&nbsp;CLOTHING</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link text-white hover-a"(click)="showshoes()"><i class="fas fa-shoe-prints circle-icon" style="font-size:20px;color:black"></i>&nbsp;&nbsp;SHOES</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <button class="outline border-right-0 " type="submit" (click)="searchname()" ><i class="fa fa-search"></i></button>-->
<!--        <input class="outline border-left-0" type="text" placeholder="  Search Product Name" name="pnam" [(ngModel)]="pname">-->
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--&lt;!&ndash; <div class="bg-dark text-center border-n p-2">&ndash;&gt;-->

<!--&lt;!&ndash;   <button class="outline border-right-0 " type="submit" (click)="searchname()" ><i class="fa fa-search"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;   <input class="outline border-left-0" type="text" placeholder="  Search Product Name" name="pnam" [(ngModel)]="pname">&ndash;&gt;-->

<!--&lt;!&ndash; </div>&ndash;&gt;-->
<!--&lt;!&ndash; <div class="bg-dark " *ngIf="showcarousal">&ndash;&gt;-->
<!--&lt;!&ndash; <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash; <div id="demo" class="carousel slide" data-ride="carousel">&ndash;&gt;-->
<!--&lt;!&ndash;   <ul class="carousel-indicators">&ndash;&gt;-->
<!--&lt;!&ndash;     <li data-target="#demo" data-slide-to="0" class="active"></li>&ndash;&gt;-->
<!--&lt;!&ndash;     <li data-target="#demo" data-slide-to="1"></li>&ndash;&gt;-->
<!--&lt;!&ndash;     <li data-target="#demo" data-slide-to="2"></li>&ndash;&gt;-->
<!--&lt;!&ndash;   </ul>&ndash;&gt;-->
<!--&lt;!&ndash;   <div class="carousel-inner">&ndash;&gt;-->
<!--&lt;!&ndash;     <div class="carousel-item active">&ndash;&gt;-->
<!--&lt;!&ndash;       <img src="../assets/images/bg1.jpg" alt="Los Angeles" width="700px" height="200px">&ndash;&gt;-->
<!--&lt;!&ndash;       <div class="carousel-caption">&ndash;&gt;-->
<!--&lt;!&ndash;         <h3>Surface pro</h3>&ndash;&gt;-->
<!--&lt;!&ndash;         <p>Discover what's possible every day with office&ndash;&gt;-->
<!--&lt;!&ndash;           465&ndash;&gt;-->
<!--&lt;!&ndash;         </p>&ndash;&gt;-->
<!--&lt;!&ndash;       </div>&ndash;&gt;-->
<!--&lt;!&ndash;     </div>&ndash;&gt;-->
<!--&lt;!&ndash;     <div class="carousel-item">&ndash;&gt;-->
<!--&lt;!&ndash;       <img src="../assets/images/background2.jpg"alt="Chicago" width="700px" height="200px">&ndash;&gt;-->
<!--&lt;!&ndash;       <div class="carousel-caption">&ndash;&gt;-->
<!--&lt;!&ndash;         <h4>Shopping at Best Rates</h4>&ndash;&gt;-->
<!--&lt;!&ndash;       </div>&ndash;&gt;-->
<!--&lt;!&ndash;     </div>&ndash;&gt;-->
<!--&lt;!&ndash;     <div class="carousel-item">&ndash;&gt;-->
<!--&lt;!&ndash;       <img src="../assets/images/background3.jpg" alt="New York" width="700px" height="300px">&ndash;&gt;-->
<!--&lt;!&ndash;       <div class="carousel-caption text-center text-dark">&ndash;&gt;-->
<!--&lt;!&ndash;         <h4>Best ClassY Glasses at Reasonable Rates</h4>&ndash;&gt;-->
<!--&lt;!&ndash;       </div>&ndash;&gt;-->
<!--&lt;!&ndash;     </div>&ndash;&gt;-->
<!--&lt;!&ndash;   </div>&ndash;&gt;-->
<!--&lt;!&ndash;   <a class="carousel-control-prev" href="#demo" data-slide="prev">&ndash;&gt;-->
<!--&lt;!&ndash;     <span class="carousel-control-prev-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;   </a>&ndash;&gt;-->
<!--&lt;!&ndash;   <a class="carousel-control-next" href="#demo" data-slide="next">&ndash;&gt;-->
<!--&lt;!&ndash;     <span class="carousel-control-next-icon"></span>&ndash;&gt;-->
<!--&lt;!&ndash;   </a>&ndash;&gt;-->
<!--&lt;!&ndash; </div>&ndash;&gt;-->

<!--&lt;!&ndash; </div>&ndash;&gt;-->
<!--&lt;!&ndash; </div>&ndash;&gt;-->






<!-- <div>-->
<!--<div class="d-flex">-->
<!--  <div class="w-25 mt-4" style="border-right: 1px black solid">-->
<!--    <div class="mb-3 mx-3 ">-->
<!--      <div class="card border-dark ">-->
<!--        <div class="card-body bg-dark">-->
<!--          <h4 class="text-white">PRICE</h4>-->
<!--          <div class="radio">-->
<!--            <label><input type="radio" name="optradio" (change)="handleSelectedevent($event,200,500)">200-500</label>-->
<!--          </div>-->
<!--          <div class="radio">-->
<!--            <label><input type="radio" name="optradio" (change)="handleSelectedevent($event,500,1000)">500-1000</label>-->
<!--          </div>-->
<!--          <div class="radio">-->
<!--            <label><input type="radio" name="optradio" (change)="handleSelectedevent($event,1000,2000)">1000-2000</label>-->
<!--          </div>-->
<!--          <div class="radio">-->
<!--            <label><input type="radio" name="optradio" (change)="handleSelectedevent($event,1500,4000)">1500-4000</label>-->
<!--          </div>-->
<!--          <div class="radio">-->
<!--            <label><input type="radio" name="optradio" (change)="handleSelectedevent($event,0,9000)">0-Maximum</label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="w-75 m-4 my-2 d-flex flex-wrap">-->
<!--    <div *ngFor="let Detail of items" class="m-2">-->
<!--      <div class="card border-dark box bg-dark" style="width:300px;height:290px">-->

<!--        <div class="mt-3 mx-auto">-->
<!--&lt;!&ndash;          <i class="material-icons w-100"  style="font-size: 100px">&ndash;&gt;-->
<!--&lt;!&ndash;            add_shopping_cart&ndash;&gt;-->
<!--&lt;!&ndash;          </i>&ndash;&gt;-->
<!--          <img height="100px" src="{{Detail.image}}">-->
<!--        </div>-->
<!--        <div class="card-body text-center bg-dark text-white-50">-->
<!--          <h6 class="card-title">{{Detail.name}}</h6>-->
<!--          <hr>-->
<!--          <div >PRICE: ${{Detail.price}}</div>-->
<!--          <div>-->
<!--          <span class="text-dark  btn box-color " style="cursor: pointer" (click)="goToDetails(Detail.productId)">ViewDetail</span>-->
<!--            <span *ngIf="rolecondition"><div class="btn btn-danger text-white ml-1" (click)="deleteproduct(Detail.productId)" ><i class="fa fa-trash"></i></div></span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->
