<footer class="page-footer font-small unique-color-dark">

  <div class="bg-dark">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-2 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-white text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook-f text-white mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter text-white mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram text-white"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>
</footer>
<!--  &lt;!&ndash; Footer Links &ndash;&gt;-->
<!--  <div class="container text-center text-md-left mt-5">-->

<!--    &lt;!&ndash; Grid row &ndash;&gt;-->
<!--    <div class="row mt-3">-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">-->

<!--        &lt;!&ndash; Content &ndash;&gt;-->
<!--        <h6 class="text-uppercase font-weight-bold">Ritika's_Shopping_Cart</h6>-->
<!--        <hr class="danger mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
<!--        <p>Hey! Guys this is a very Basic Eccomerce Website.-->
<!--          Go Buy a Trendy shoes,glasses,clothes For you...-->

<!--        </p>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <h6 class="text-uppercase font-weight-bold">Products</h6>-->
<!--        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
<!--        <p>-->
<!--          <a href="#!">Shoes</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#!">Clothes</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#!">Glasses</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#!">Books</a>-->
<!--        </p>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <h6 class="text-uppercase font-weight-bold">Other Branches</h6>-->
<!--        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
<!--        <p>-->
<!--          <a href="#!">Rahul'sShopping Cart</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#!">Khreedo</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#!">DM_Mart</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#!">Help</a>-->
<!--        </p>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--      &lt;!&ndash; Grid column &ndash;&gt;-->
<!--      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">-->

<!--        &lt;!&ndash; Links &ndash;&gt;-->
<!--        <h6 class="text-uppercase font-weight-bold">Contact</h6>-->
<!--        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
<!--        <p>-->
<!--          <i class="fa fa-home mr-3"></i> Mandi GobindGarh, IN 10012, India</p>-->
<!--        <p>-->
<!--          <i class="fa fa-envelope mr-3"></i> Ritika56750@gmail.com</p>-->
<!--        <p>-->
<!--          <i class="fa fa-phone mr-3"></i> + 855 69 21070</p>-->
<!--        <p>-->
<!--          <i class="fa fa-print mr-3"></i> + 98 7541 7996</p>-->

<!--      </div>-->
<!--      &lt;!&ndash; Grid column &ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash; Grid row &ndash;&gt;-->

<!--  </div>-->
<!--  &lt;!&ndash; Footer Links &ndash;&gt;-->

<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  <div class="footer-copyright text-center py-3">-->
<!--    <a href="#"> RITIKA's Shopping Cart.com</a>-->
<!--  </div>-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->

<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->

