<!--<div class="btn btn-primary text-danger" (click)="getTotal()">CALCULATE</div> -->
<app-main-nav></app-main-nav>
<div class="container d-flex mt-4 mb-0">
  <div class="mr-auto"><h2  class="text-dark" style="font-family:Algerian">My Cart</h2></div><div><div class="btn btn-dark btn-outline-primary" (click)="clearcart()">ClearCart</div></div>
  <div><div class="btn btn-dark btn-outline-danger" (click)="checkout()">CheckOut</div></div>
  <div><div class="btn btn-dark btn-outline-success" data-toggle="modal" data-target="#myModal">PAY Rs. {{total}}</div></div>
</div>

<div class="container bg-dark" style="border: white 2px solid">
  <div *ngFor="let i of cart">
  <div class="d-flex flex-wrap">
    <div class="my-auto"><img style="height: 250px;width: 200px" src={{i.items.image}}></div>
    <div class="ml-4">
      <div>ProductCode:{{i.items.productId}}</div>
      <h4>{{i.items.name}}</h4>
      <h4>this is the description of the product</h4>
      <h5>Price:{{i.items.price}}</h5>
      <span class="badge badge-primary">{{i.items.category}}</span>
      <span class="badge badge-secondary">{{i.items.sub_category}}</span>
      <span class="badge badge-success">Satisfied</span>
      <span class="badge badge-danger">Best-dealer</span>
      <span class="badge badge-warning">Tags</span>
      <div class="text-danger">Quantity</div>
      <div class="border-dark d-flex">
        <div class="btn btn-success btn-sm p-1" (click)="incquantity(i.items.productId)"><i class="material-icons"style="font-size: small">
          add
        </i></div><div>{{i.quantity}}</div><div class="btn btn-success btn-sm p-1" (click)="decquantity(i.items.productId)"><i class="material-icons" style="font-size: small">
        remove
      </i></div>
      </div>
      <div>Product total cost={{i.quantity*i.items.price}}</div>
      <div class="btn btn-danger text-white mt-2" (click)="deleteitem(i.items.productId)"><a>DELETE</a></div>
    </div>
  </div>
  <hr style="border-top: white 2px solid">
  </div>
</div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title text-success text-center">PAYMENT GATEWAY</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
              <div id="pay-invoice" class="card">
                <div class="card-body">
                  <div class="card-title">
                    <h2 class="text-center text-dark">Pay Invoice</h2>
                  </div>
                  <hr>
                  <form>
                    <input type="hidden" id="x_first_name" name="x_first_name" value="">
                    <input type="hidden" id="x_last_name" name="x_last_name" value="">
                    <input type="hidden" id="x_card_num" name="x_card_num" value="">
                    <input type="hidden" id="x_exp_date" name="x_exp_date" value="">
                    <div class="form-group text-center">
                      <ul class="list-inline">
                        <li class="list-inline-item"><i class="text-muted fa fa-cc-visa fa-2x"></i></li>
                        <li class="list-inline-item"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                        <li class="list-inline-item"><i class="fa fa-cc-amex fa-2x"></i></li>
                        <li class="list-inline-item"><i class="fa fa-cc-discover fa-2x"></i></li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>Payment amount</label>
                      <h2>${{total}}</h2>
                    </div>
                    <div class="form-group has-success">
                      <label for="cc-name" class="control-label">Name on card</label>
                      <input id="cc-name" name="cc-name" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                      <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                      <label for="cc-number" class="control-label">Card number</label>
                      <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number">
                      <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="cc-exp" class="control-label">Expiration</label>
                          <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration" data-val-cc-exp="Please enter a valid month and year" placeholder="MM / YY" autocomplete="cc-exp">
                          <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                        </div>
                      </div>
                      <div class="col-6">
                        <label for="x_card_code" class="control-label">Security code</label>
                        <div class="input-group">
                          <input id="x_card_code" name="x_card_code" type="tel" class="form-control cc-cvc" value="" data-val="true" data-val-required="Please enter the security code" data-val-cc-cvc="Please enter a valid security code" autocomplete="off">
                          <div class="input-group-addon">
                                        <span class="fa fa-question-circle fa-lg" data-toggle="popover" data-container="body" data-html="true" data-title="Security Code"
                                              data-content="<div class='text-center one-card'>The 3 digit code on back of the card..<div class='visa-mc-cvc-preview'></div></div>"
                                              data-trigger="hover"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="x_zip" class="control-label">Postal code</label>
                      <input id="x_zip" name="x_zip" type="text" class="form-control" value="" data-val="true" data-val-required="Please enter the ZIP/Postal code" autocomplete="postal-code">
                      <span class="help-block" data-valmsg-for="x_zip" data-valmsg-replace="true"></span>
                    </div>
                    <div>
                      <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block">
                        <i class="fa fa-lock fa-lg"></i>&nbsp;
                        <span id="payment-button-amount">Pay</span>
                        <span id="payment-button-sending" style="display:none;">Sending…</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>



